<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/login.css" />
    <title>Admin Login</title>
  </head>
  <body>
    <div id="login">
      <div class="login-container">
        <h2>Login</h2>
        <input id="Email" v-model="email" type="email" placeholder="Email" required />
        <input id="Password" v-model="password" type="password" placeholder="Password" required />
        <button class="submit_btn" id="login-button" @click.prevent="submitForm">Login</button>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./login.js"></script>
  </body>
</html>
